<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @roll_call.id %>
</p>

<p>
  <strong>Device:</strong>
  <%= @roll_call.device.serial %>
</p>

<p>
  <strong>When:</strong>
  <%= @roll_call.when %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @roll_call.lng %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @roll_call.lat %>
</p>

<p>
  <strong>Manual:</strong>
  <%= @roll_call.manual %>
</p>

<p>
  <strong>Answers</strong>
  <ul>
    <% @roll_call.roll_call_answers.each do |answer| %>
    <li>
      <%= link_to 'answer', 
        roll_call_answer_path(answer, roll_call_id: @roll_call.id) %>
    </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_roll_call_path(@roll_call) %> |
<%= link_to 'Back', @back_path %>
