<p id="notice"><%= notice %></p>

<h1>Listing Devices</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Serial</th>
      <th>Capability</th>
      <th colspan="3"></th>
      <th>Groups</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.id %></td>
        <td><%= device.serial %></td>
        <td><%= device.capability %></td>
        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <ul>
            <% device.groups.each do |group| %>
            <li><%= link_to group.name, group_path(group) %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= link_to 'Add', new_device_group_path(device_id: device.id) %>
        </td>
        <td>
          <%= link_to 'Remove', device_groups_remove_path(device_id: device.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>

<%= render 'shared/footer' %>