<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @help_call_answer.id %>
</p>

<p>
  <strong>Device:</strong>
  devices/<%= @help_call_answer.device.id %>
</p>

<p>
  <strong>Help call:</strong>
  help_calls/<%= @help_call_answer.help_call.id %>
</p>

<p>
  <strong>When:</strong>
  <%= @help_call_answer.when %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @help_call_answer.lng %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @help_call_answer.lat %>
</p>

<%= link_to 'Edit', edit_help_call_answer_path(@help_call_answer) %> |
<%= link_to 'Back', @back_path %>
