<h1>Welcome To LoRa Prototype</h1>

<p>
<ul>
  <li><%= link_to 'Manage Devices', devices_path %></li>
  <li><%= link_to 'Manage Groups', groups_path %></li>
  <li><%= link_to 'Manage Paths', paths_path %></li>
  <li><%= link_to 'Manage Positions', positions_path %></li>
  <li><%= link_to 'Manage RollCalls', roll_calls_path %></li>
  <li><%= link_to 'Manage RollCallAnswerss', roll_call_answers_path %></li>
  <li><%= link_to 'Manage HelpCalls', help_calls_path %></li>
  <li><%= link_to 'Manage HelpCallAnswerss', help_call_answers_path %></li>
</ul>
</p>

<h2>UML Class Diagram</h2>
<%= link_to image_tag("/lrp1.png", style: "border: 1px solid black"), "/lrp1.png" %>