<h1>Welcome To LoRa Prototype</h1>

<p><%= link_to 'Manage Devices', devices_path %></p>
<p><%= link_to 'Manage Groups', groups_path %></p>
<p><%= link_to 'Manage Paths', paths_path %></p>
<p><%= link_to 'Manage Positions', positions_path %></p>
<p><%= link_to 'Manage RollCalls', roll_calls_path %></p>