<p id="notice"><%= notice %></p>

<h1>Listing Help Calls</h1>

<table>
  <thead>
    <tr>
      <th>Device</th>
      <th>When</th>
      <th>Lng</th>
      <th>Lat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @help_calls.each do |help_call| %>
      <tr>
        <td><%= link_to help_call.device.serial, help_call.device %></td>
        <td><%= help_call.when %></td>
        <td><%= help_call.lng %></td>
        <td><%= help_call.lat %></td>
        <td><%= link_to 'Show', help_call %></td>
        <td><%= link_to 'Edit', edit_help_call_path(help_call) %></td>
        <td><%= link_to 'Destroy', help_call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Help call', new_help_call_path %>

<%= render 'shared/footer' %>