<p id="notice"><%= notice %></p>

<p>
  <strong>Device:</strong>
  devices/<%= @help_call.device.id %>
</p>

<p>
  <strong>When:</strong>
  <%= @help_call.when %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @help_call.lng %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @help_call.lat %>
</p>

<p>
  <strong>Help Call Answers</strong>
  <ul>
    <% @help_call.help_call_answers.each do |answer| %>
    <li>
      <%= link_to 'answer',
        help_call_answer_path(answer, help_call_id: @help_call.id) %>
    </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_help_call_path(@help_call) %> |
<%= link_to 'Back', @back_path %>
